In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\bryan\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in c:\users\bryan\anaconda3\lib\site-packages (from pyspark) (0.10.9)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('Book1.csv')

     Name  Age  Experience
0  Brtyan   26          10
1   Cliff   30           9
2  Yvonne   24           6
3    June   16           8

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('Book1.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [9]:
print(type(df_pyspark))

<class 'pyspark.sql.dataframe.DataFrame'>

In [10]:
df_pyspark.show()

+------+---+----------+
|   _c0|_c1|       _c2|
+------+---+----------+
|  Name|Age|Experience|
|Brtyan| 26|        10|
| Cliff| 30|         9|
|Yvonne| 24|         6|
|  June| 16|         8|
+------+---+----------+

In [11]:
spark.read.option('header','true').csv('Book1.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [12]:
df_pyspark = spark.read.option('header','true').csv('Book1.csv').show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Brtyan| 26|        10|
| Cliff| 30|         9|
|Yvonne| 24|         6|
|  June| 16|         8|
+------+---+----------+

In [13]:
df_pyspark1 = spark.read.option('header','true').csv('Book1.csv',inferSchema=True)

In [14]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark1.head(3)

[Row(Name='Brtyan', Age=26, Experience=10),
 Row(Name='Cliff', Age=30, Experience=9),
 Row(Name='Yvonne', Age=24, Experience=6)]

In [16]:
df_pyspark1.printSchema() #df.info()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [17]:
#read the data option2
df_pyspark1 =spark.read.csv('Book1.csv',header=True,inferSchema=True)
df_pyspark1.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Brtyan| 26|        10|
| Cliff| 30|         9|
|Yvonne| 24|         6|
|  June| 16|         8|
+------+---+----------+

In [18]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
df_pyspark1.columns

['Name', 'Age', 'Experience']

In [20]:
df_pyspark1.select('Experience')

DataFrame[Experience: int]

In [21]:
df_pyspark1.select('Experience').show()

+----------+
|Experience|
+----------+
|        10|
|         9|
|         6|
|         8|
+----------+

In [22]:
df_pyspark1.select(['Experience','Name'])

DataFrame[Experience: int, Name: string]

In [23]:
df_pyspark1.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Brtyan|        10|
| Cliff|         9|
|Yvonne|         6|
|  June|         8|
+------+----------+

In [24]:
df_pyspark1.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [25]:
df_pyspark1.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [26]:
df_pyspark1.describe().show()

+-------+------+------------------+-----------------+
|summary|  Name|               Age|       Experience|
+-------+------+------------------+-----------------+
|  count|     4|                 4|                4|
|   mean|  null|              24.0|             8.25|
| stddev|  null|5.8878405775518985|1.707825127659933|
|    min|Brtyan|                16|                6|
|    max|Yvonne|                30|               10|
+-------+------+------------------+-----------------+

In [27]:
###Adding columns in data frame
df_pyspark1.withColumn('Experience After 5 Years',df_pyspark1['Experience']+5)

DataFrame[Name: string, Age: int, Experience: int, Experience After 5 Years: int]

In [28]:
df_pyspark1.withColumn('After 5 years',df_pyspark1['Experience']+5).show()

+------+---+----------+-------------+
|  Name|Age|Experience|After 5 years|
+------+---+----------+-------------+
|Brtyan| 26|        10|           15|
| Cliff| 30|         9|           14|
|Yvonne| 24|         6|           11|
|  June| 16|         8|           13|
+------+---+----------+-------------+

In [29]:
df_pyspark1.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Brtyan| 26|        10|
| Cliff| 30|         9|
|Yvonne| 24|         6|
|  June| 16|         8|
+------+---+----------+

In [30]:
df_pyspark1.drop('Experience After 5 Years')

DataFrame[Name: string, Age: int, Experience: int]

In [31]:
df_pyspark1.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Brtyan| 26|        10|
| Cliff| 30|         9|
|Yvonne| 24|         6|
|  June| 16|         8|
+------+---+----------+

In [32]:
#Rename Columns
df_pyspark1 = df_pyspark1.withColumnRenamed('Name','New Name')

In [33]:
df_pyspark1.show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Brtyan| 26|        10|
|   Cliff| 30|         9|
|  Yvonne| 24|         6|
|    June| 16|         8|
+--------+---+----------+

In [34]:
df_pyspark = spark.read.csv('test.csv',header=True,inferSchema=True)

In [35]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Cliff|  20|         5| 50000|
|Yvonne|  19|         3| 30000|
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  June|  16|         2| 20000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [36]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  20|         5| 50000|
|  19|         3| 30000|
|  37|        10|100000|
|  45|        15|180000|
|  16|         2| 20000|
|  25|         7| 80000|
|null|      null| 95000|
|  34|        10| 60000|
|  36|      null|  null|
+----+----------+------+

In [37]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Cliff|  20|         5| 50000|
|Yvonne|  19|         3| 30000|
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  June|  16|         2| 20000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [38]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Cliff| 20|         5| 50000|
|Yvonne| 19|         3| 30000|
|   Mum| 37|        10|100000|
|   Dad| 45|        15|180000|
|  June| 16|         2| 20000|
|  Ruth| 25|         7| 80000|
+------+---+----------+------+

In [39]:
## any == how
df_pyspark.na.drop(how="all").show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Cliff|  20|         5| 50000|
|Yvonne|  19|         3| 30000|
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  June|  16|         2| 20000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [40]:
df_pyspark.na.drop(how="any").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Cliff| 20|         5| 50000|
|Yvonne| 19|         3| 30000|
|   Mum| 37|        10|100000|
|   Dad| 45|        15|180000|
|  June| 16|         2| 20000|
|  Ruth| 25|         7| 80000|
+------+---+----------+------+

In [41]:
#threshold
df_pyspark.na.drop(how="any",thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Cliff|  20|         5| 50000|
|Yvonne|  19|         3| 30000|
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  June|  16|         2| 20000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
+------+----+----------+------+

In [42]:
#subset
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Cliff| 20|         5| 50000|
|Yvonne| 19|         3| 30000|
|   Mum| 37|        10|100000|
|   Dad| 45|        15|180000|
|  June| 16|         2| 20000|
|  Ruth| 25|         7| 80000|
|  null| 34|        10| 60000|
+------+---+----------+------+

In [43]:
#Filling Missing Values
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Cliff|  20|         5| 50000|
|        Yvonne|  19|         3| 30000|
|           Mum|  37|        10|100000|
|           Dad|  45|        15|180000|
|          June|  16|         2| 20000|
|          Ruth|  25|         7| 80000|
|        Zeitun|null|      null| 95000|
|Missing Values|  34|        10| 60000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [44]:
df_pyspark.na.fill('Missing Values','Experience').show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Cliff|  20|         5| 50000|
|Yvonne|  19|         3| 30000|
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  June|  16|         2| 20000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [45]:
df_pyspark.na.fill('Missing Values',['Experience','Age']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Cliff|  20|         5| 50000|
|Yvonne|  19|         3| 30000|
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  June|  16|         2| 20000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [46]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Cliff|  20|         5| 50000|
|Yvonne|  19|         3| 30000|
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  June|  16|         2| 20000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [47]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age','Experience','Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [48]:
#Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
| Cliff|  20|         5| 50000|         20|                 5|         50000|
|Yvonne|  19|         3| 30000|         19|                 3|         30000|
|   Mum|  37|        10|100000|         37|                10|        100000|
|   Dad|  45|        15|180000|         45|                15|        180000|
|  June|  16|         2| 20000|         16|                 2|         20000|
|  Ruth|  25|         7| 80000|         25|                 7|         80000|
|Zeitun|null|      null| 95000|         29|                 7|         95000|
|  null|  34|        10| 60000|         34|                10|         60000|
|  null|  36|      null|  null|         36|                 7|         76875|
+------+----+----------+------+-----------+------------------+--------------+

### Filter Operations

In [49]:
##Salary of people with less than or equal to 50000
df_pyspark.filter("Salary<=50000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Cliff| 20|         5| 50000|
|Yvonne| 19|         3| 30000|
|  June| 16|         2| 20000|
+------+---+----------+------+

In [50]:
df_pyspark.filter("Salary<=50000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
| Cliff| 20|
|Yvonne| 19|
|  June| 16|
+------+---+

In [51]:
df_pyspark.filter(df_pyspark["Salary"]<=50000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Cliff| 20|         5| 50000|
|Yvonne| 19|         3| 30000|
|  June| 16|         2| 20000|
+------+---+----------+------+

In [52]:
##Multiple conditions using AND
df_pyspark.filter((df_pyspark['Salary']<=50000) &
                  (df_pyspark['Salary']>=10000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Cliff| 20|         5| 50000|
|Yvonne| 19|         3| 30000|
|  June| 16|         2| 20000|
+------+---+----------+------+

In [53]:
##OR condition
df_pyspark.filter((df_pyspark['Salary']<=50000) |
                  (df_pyspark['Salary']>=100000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Cliff| 20|         5| 50000|
|Yvonne| 19|         3| 30000|
|   Mum| 37|        10|100000|
|   Dad| 45|        15|180000|
|  June| 16|         2| 20000|
+------+---+----------+------+

In [54]:
## NOT operation // Conditional Operation
df_pyspark.filter(~(df_pyspark["Salary"]<=50000)).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Mum|  37|        10|100000|
|   Dad|  45|        15|180000|
|  Ruth|  25|         7| 80000|
|Zeitun|null|      null| 95000|
|  null|  34|        10| 60000|
+------+----+----------+------+

## Pyspark GroupBY And Aggregate Functions

In [55]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [56]:
df_pyspark =  spark.read.csv('Payroll.csv',header=True,inferSchema=True)

In [57]:
df_pyspark.show()

+------+------------+------+
|  Name|  Department|Salary|
+------+------------+------+
|  Kesh|         IOT| 20000|
|  Kesh|Data Science|100000|
| Bryan|    Big Data| 80000|
|Yvonne|         Eng| 90000|
|Juliet|          HR| 60000|
| Cliff|         IOT| 90000|
| Cliff|Data Science|150000|
| Cliff|         Eng| 85000|
|Yvonne|    Big Data| 90000|
+------+------------+------+

In [58]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [59]:
#GroupBy
#Grouped to find the max salary
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|  Kesh|     120000|
| Cliff|     325000|
|Juliet|      60000|
|Yvonne|     180000|
| Bryan|      80000|
+------+-----------+

In [60]:
df_pyspark.groupBy('Name').avg().show()

+------+------------------+
|  Name|       avg(Salary)|
+------+------------------+
|  Kesh|           60000.0|
| Cliff|108333.33333333333|
|Juliet|           60000.0|
|Yvonne|           90000.0|
| Bryan|           80000.0|
+------+------------------+

In [61]:
df_pyspark.groupBy('Name').min().show()

+------+-----------+
|  Name|min(Salary)|
+------+-----------+
|  Kesh|      20000|
| Cliff|      85000|
|Juliet|      60000|
|Yvonne|      90000|
| Bryan|      80000|
+------+-----------+

In [62]:
df_pyspark.groupBy('Name').max().show()

+------+-----------+
|  Name|max(Salary)|
+------+-----------+
|  Kesh|     100000|
| Cliff|     150000|
|Juliet|      60000|
|Yvonne|      90000|
| Bryan|      80000|
+------+-----------+

In [63]:
##Groupby Department which gives max salary
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         Eng|     175000|
|         IOT|     110000|
|          HR|      60000|
|    Big Data|     170000|
|Data Science|     250000|
+------------+-----------+

In [64]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         Eng|    87500.0|
|         IOT|    55000.0|
|          HR|    60000.0|
|    Big Data|    85000.0|
|Data Science|   125000.0|
+------------+-----------+

In [65]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         Eng|    2|
|         IOT|    2|
|          HR|    1|
|    Big Data|    2|
|Data Science|    2|
+------------+-----+

In [66]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     765000|
+-----------+

In [68]:
df_pyspark.agg({'Salary':'mean'}).show()

+-----------+
|avg(Salary)|
+-----------+
|    85000.0|
+-----------+

## MACHINE LEARNING----MLlib

In [69]:
training = spark.read.csv("Salary.csv",header=True,inferSchema=True)

In [70]:
training.show()

+----------+---+----------+------+
|     Name |Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudhanishu| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
+----------+---+----------+------+

In [71]:
training.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [73]:
training.columns

['Name ', 'Age', 'Experience', 'Salary']

In [ ]:
# [Age,Experience]-----New Features------>Independent feature

In [79]:
from pyspark.ml.feature import VectorAssembler
featureAssembler = VectorAssembler(inputCols=["Age","Experience"],outputCol="Independent Features")

In [85]:
output = featureAssembler.transform(training)

In [86]:
output.show()

+----------+---+----------+------+--------------------+
|     Name |Age|Experience|Salary|Independent Features|
+----------+---+----------+------+--------------------+
|     Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanishu| 30|         8| 25000|          [30.0,8.0]|
|     Sunny| 29|         4| 20000|          [29.0,4.0]|
|      Paul| 24|         3| 20000|          [24.0,3.0]|
|    Harsha| 21|         1| 15000|          [21.0,1.0]|
|   Shubham| 23|         2| 18000|          [23.0,2.0]|
+----------+---+----------+------+--------------------+

In [87]:
from pyspark.ml.feature import StringIndexer,VectorIndexer,OneHotEncoder,VectorAssembler
output.columns

['Name ', 'Age', 'Experience', 'Salary', 'Independent Features']

In [89]:
finalized_data = output.select("Independent Features","Salary")

In [90]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [91]:
from pyspark.ml.regression import LinearRegression
##train_test_split
train_data,test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Independent Features',labelCol='Salary')
regressor = regressor.fit(train_data)

In [92]:
### Coefficients
regressor.coefficients

DenseVector([-323.2867, 1696.8066])

In [94]:
##Intercepts
regressor.intercept

22295.299605312008

In [100]:
##Prediction
pred_results = regressor.evaluate(test_data)

In [101]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [21.0,1.0]| 15000|17203.085755292603|
+--------------------+------+------------------+

In [102]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(2203.0857552926027, 4853586.845173177)